*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
body{
    background-image: url(photo.jpg);
    background-size: cover;
}
.btn_one{
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}
.main_box{
    background: url("photo.jpg");
    height: 100vh;
}
.btn_one i{
    transition: all 0.3s linear;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgb(255, 255, 255, 0.5);
    
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 4px rgb(255, 255, 255, 0.5);
    height: 60px;
    

}

.sidebar_menu .logo a {
    position: absolute;
    left: 75px;
    top: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sidebar_menu .btn_two {
    position: absolute;
    color: white;
    font-size: 25px;
    line-height: 60px;
    left: 275px;
    cursor: pointer;
    opacity: 0;
    

}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 10px 15px;
}
.sidebar_menu .menu a,i{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 10px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 25px;
    bottom: 50px;
}
.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}
#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
}

.sidebar_menu .btn_one i:hover{
    font-size: 30px;
}
.sidebar_menu .btn_two i:hover{
    font-size: 35px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu {
    left: 0;
} 

#check:checked ~ .btn_one i {
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}